@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Satisfy&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{

padding: 0;
margin: 0;
text-decoration: none;
font-style: none;

}

:root{

//colors
--corPrimaria: #D9D9D9;
--corSecundaria: #A19D9D;
--corTerciaria: #343131;
--Corbutton_1: #07F934;
--Corbutton_2: #F90707;

//text
--FontPrimaria:"Montserrat", sans-serif;
--FontSecundaria:"Roboto",sans-serif;

--FontWeightPrimairo:800;
--FontWeightSecundario:300;

--FontSizeTitulo: 2rem;
--FontSizeSubTitulo: 1.5rem;
--FontSizeTexto: 1rem;

}

::-webkit-scrollbar {
width: 12px; 

}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Cor do fundo do trilho */
    border-radius: 10px; /* Bordas arredondadas */
    margin: 0.5em 0;
  }

::-webkit-scrollbar-thumb {
background: var(--corTerciaria); /* Cor do polegar */
border-radius: 10px; /* Bordas arredondadas */
}


body{

background-color: var(--corPrimaria);
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;
overflow: hidden;

button{
cursor: pointer;
}

}

main{
padding: 0 4rem;
height: 100vh;
overflow-y: scroll;

}